<div class="container">
    <div class="product">
        <h2>{{title}}</h2>
        <img class="product-img" src="{{img}}">
        <p class="price big">{{price}}</p>
        <div class="product-3d">
            <iframe src="{{product3d}}"></iframe>
            <button class="product-3d__btn"></button>
        </div>
        <p class="text-intro">{{intro}}</p>
        <p>{{text_one}}</p>
        <img src="{{img_one}}" title="Рисунок №1">
        <p>{{text_two}}</p>
        <img src="{{img_two}}" title="Рисунок №2">
        <p>{{text_three}}</p>
        <h3>{{subtitle_one}}</h3>
        <p>{{text_four}}</p>
        <img src="{{img_three}}" title="Рисунок №3">
        <p>{{text_five}}</p>
        <h3>{{subtitle_two}}</h3>
        <p>{{text_six}}</p>
        <img src="{{img_four}}" title="Рисунок №4">
        <h3>{{subtitle_three}}</h3>
        <p>{{text_seven}}</p>
        <img src="{{img_five}}" title="Рисунок №5">
        <h3>{{subtitle_four}}</h3>
        <p>{{text_eight}}</p>
        <h3>{{subtitle_five}}</h3>
        <p>{{text_nine}}</p>
        <h3>{{subtitle_six}}</h3>
        <p>{{text_ten}}</p>
        <img src="{{img_six}}" title="Рисунок №6">
        <p>{{text_eleven}}</p>
        <img src="{{img_seven}}" title="Рисунок №7">
        <p>{{text_twelve}}</p>
        <img src="{{img_eight}}" title="Рисунок №8">
        <p>{{text_thirteen}}</p>



    </div>
</div>